
.navcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 10px;
    max-width: 100%;
    margin-left: 20px;
    background-color: black;
}
.size{
  position: relative;
  z-index: 9999;
}

.img {
    height: 150px; /* Adjust height as needed */
    max-width: auto; /* Maintain aspect ratio */
}

.logonav{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: SDDystopianDemo ;
  font-size: 25px;

  justify-content: center;
}
.navcyber{
  font-family: modern;
}
.navbilliken{
  padding-left: 2px;
}
.navelements {
    display: flex;
    justify-content: space-around;
    margin-left: 8%;
    align-items: center;
    font-family: Avenir;
    width: 45%;
}


.nav-link {
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    padding: 10px 0px ;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}


.nav-link:hover {
    opacity: 1;
    color: white;
    
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #ffffff;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }
  
  .nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
  }
  
  .nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
  }
  
  .nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
  }
  
  .nav-link-grow-up:hover::before {
    height: 5px;
  }

  .nav-link-ltr.active::before {
    width: 100%;
    font-weight: 900;
  }
  


.ctfd {
  display: flex;
  flex-direction: row;
    padding: 10px 10px;
    border-radius: 5px; /* Add border radius for rounded corners */
    color: #fff; /* Change text color as needed */
    justify-content: space-around;
    margin: 30px;
    font-family: Avenir;
    stroke: #28294D;
    font-size: 20px;
    align-items: center;
    max-width: 100%;

}
.ctfd >div{
  max-width:    100%;
  height: 10px  ;
  padding:20px ;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003DA5 ;
}
.card1{
  max-width:    100%;
  height: 60px        ;
  background: rgb(55,121,231);
  background: radial-gradient(circle, #B77DFF -113%, #6B07E9 121%, #430097 53%);
   display: flex;
  justify-content: center;
  align-items: center;
  
}

.dropdown-content , .dropdown-content1,.dropdown-content-logout{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: black;
  color: white;
  width: 200px;
  z-index: 9999;
  border-radius: 9px;
}
.dropdown-content{
  position: absolute;
  left: 40%;
}
.dropdown-content1{
  position: absolute;
  left: 55%;
}
.dropdown-content-logout{
  position: absolute;

}
.dropdown-content a{
  display: flex;
  height: 68px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  align-items: center;
  margin-left: 25px;
  opacity: 0.75;
}

.profiledrop{
  display: flex;
  height: 68px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  align-items: center;
  margin-left: 25px;
  opacity: 0.75;
}
.dropdown-content1 a{
  display: flex;
  height: 68px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  align-items: center;
  margin-left: 25px;
  opacity: 0.75;

}
.dropdown-content hr{
  margin-left: 20px;
}
.dropdown-content{
  position: absolute;
  left: 35%;
  }
  .dropdown-content1{
  position: absolute;
  left: 45%;
  }

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btnn{
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  text-align: right;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-trans{
  background-color: gray;
  opacity: 0.5;
  font-weight: bold;
  color: white;
  text-align: right;
  padding-right: 14px;
}

.btn-trans:hover {
  color: #fff;
  background-color: rgb(86, 85, 85);
  border-color:  rgb(86, 85, 85);
}
.dropdown-content1 hr{
  margin-left: 20px;
}
.dropdown-content-logout hr{
  margin-left: 20px;
}
.size{
  position: relative;
z-index: 9999;
width: 100%;
background-color: black;
}

@media (min-width: 768px) and (max-width: 1024px){
 
  .navelements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 40%;
    font-family: Avenir;

}

}

