
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      font-weight: 400;
    background-color: #000000;
    color-scheme:  dark;
    color: rgba(255, 255, 255, 0.87);
    font-size: 16px;  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }
  
  
  
  body {
    margin: 0;
    overflow-x: hidden;
  }
  
  *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  .slider-left div{
    display: none;
    width: 100px;
  }
  
  .slider-left{
    width: 100px
  }
  
  .slider-right{
    width: 100px
  }
  
  .slider-right div{
    display: none;
    width: 100px;
  }
  
  .pro2 > .slider-single-content{
  margin-left: -100px;
  height: 240px;
  margin-top: 18px;
  opacity: 1;
  }
  
  .pro2 > .slider-single-content img{
    opacity: 1;
    }
  
  .pro3 > .slider-single-content{
    margin-left: 100px;
    height: 240px;
    margin-top: 18px;
    opacity: 1;
    }
  
  
  @media only screen and (min-width: 600px) {
          
  }